.starProduct{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:130px;
}

.starProduct img{
    transition: all 0.5s;
}
.starProduct img:hover{
  
    box-shadow: 6px 6px 15px rgba(53,53,53,1);
    
}


